body{
    background: #ffffff;
}
.breadcrum{
    padding: 10px 20px;
    font-size: 12px;
    color: rgba(240, 255, 255, 0.447);
}

.product-display {
    min-height: 100%;
    padding: 10px 20px;
    display: flex;

}

.product-d-image{
    display: flex;
    gap: 10px;
}

.product-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-icons img {
    border: 1px solid rgba(91, 91, 91, 0.849);
    border-radius: 10px;
    padding: 5px;
}
.product-d-details {
    margin: 0 30px;
}
.product-title{
    font-size: 25px;
}
.brand-store {
    display: flex;
    margin-top: 5px;
    font-size: 15px;
}

.product-rating {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-rating div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-rating  p {
    color: #007185;
}
.product-rating  p span {
    color: white;
    background: #c73500;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 5px;
} 
.product-rating h5 {
    font-weight: 400;
}
.product-d-price {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.product-d-price div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px 0;
}
.product-d-price div p {
    font-size: 27px;
    color: rgb(255, 173, 50);
}
.product-d-price div h1{
    font-size: 15px;
    font-weight: 500;
    color: black;
}
.product-d-price div h5 {
    font-size: 27px;
    font-weight: 400;
    color: rgb(239, 177, 63);
}

.product-d-price h5 span {
    text-decoration: line-through;
}
.product-d-price p span {
    color:#007185;
}
.product-d-price div h1 span {
    font-size: 26px;
    font-weight: 500;
}

/* Product color selection */
.product-color-selection {
    margin: 15px 0;
}
.product-color-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.option{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid grey;
    border-radius: 5px;   
}

/* producs desc */
.product-info {
   display: grid;
   grid-template-columns: auto auto;
   max-width: 300px;
   margin-bottom: 15px;
}

/* product desc */
.product-description {
    margin-top: 20px;
    font-size: 15px;
}
.product-description ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
}


.product-d-purchase{
    width:100%;
    max-width: 250px;
    border: 1px solid rgba(91, 91, 91, 0.849);
    border-radius: 10px;
    padding: 15px;
}
.product-d-purchase .title{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    font-size: 15px;
}
.product-d-purchase .product-price {
    color: rgb(255, 173, 50);
    font-size: 23px;
}
.product-d-purchase .gap {
    margin: 10px 0;
    font-size: 12px;
    color: #007185;
}

.product-d-purchase .gap span {
    color: #007185;
    font-weight: 500;
}

/* delivery */
.delivery-location {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: small;
}

.product-stock {
    margin-top: 10px;
    font-size: 14px;
    color: #007185;
    font-weight: 400;
}

#quantity-select {
    padding: 6px;
    border: 1px solid rgba(91, 91, 91, 0.849);
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 8px;
    background-color: #f0c14b;
    border: none;
    border-radius: 25px;
    font-size: 13px;
    cursor: pointer;
    margin-top: 10px;
}
.product-d-purchase .product-buy{
     background-color: #e35b2a;
}
.product-d-purchase .product-buy:hover {
    background-color: #b05200;
}
.product-d-purchase .product-buy:active {
    background-color: #ffd363;
}

.product-d-purchase .btn:hover {
    background-color: #e2b33c;
}
.product-d-purchase .btn:active {
    background-color: #cfa12e;
}

.product-seller-info {
    display: flex;
    flex-direction: column; 
    gap: 5px;
    margin-top: 15px;
    font-size: 12px;
    color: rgba(91, 91, 91, 0.849);
}
.product-seller-info span {
    color: #007185;
    font-weight: 600;
}

.product-d-purchase hr {
    margin-top: 20px;
    width: 100%;
    border: 0.5px solid rgba(91, 91, 91, 0.849); 
    margin-bottom: 20px;
}
.product-add-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 12px;
    color: #007185;
    width: 100%;
    border-radius: 25px;
    border: 1px solid rgba(91, 91, 91, 0.849);
    padding: 8px 10px;
}

